<div class="container">
  <div class="row">
    <div class="col-xs-4 well">
      <legend>Login</legend>
      <% if flash[:error] %>
          <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">×</a><%= flash[:error] %>
          </div>
      <% end %>
      <%= form_for(:session, url: sessions_path) do |f| %>
        <p><%= f.text_field :email, class: "form-control", placeholder: "Email" %></p>
        <p><%= f.password_field :password, class: "form-control", placeholder: "Password" %></p>
        <p><%= f.submit 'Login', class: "btn btn-info btn-block" %></p>
      <% end %>
    </div>
  </div>
</div>