<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Simple Blog, <%= @user.name %>!</h1>
<p>
  You have successfully signed up.
</p>
<p>
  To see your profile, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a nice day!</p>
</body>
</html>