<%= form_for([@post, @post.comments.build], class: 'form-inline') do |f| %>
    <legend>Leave comment: </legend>
    <% if !signed_in? %>
        <div class="form-group">
          <%= f.text_field :user_name, placeholder: 'Your name', class: 'form-control' %>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.text_area :content, placeholder: 'Your comment', class: 'form-control' %>
    </div>

    <% if !signed_in? %>
      <div class="form-group well">
        <%= show_simple_captcha :label => 'Write', placeholder: 'here' %>
      </div>
    <% end %>

    <%= f.submit 'Submit', class: 'btn btn-primary btn-block' %>
<% end %>