<h1>Editing profile</h1>
<% if @user.errors.count > 0 %>
    <p><%= pluralize(@user.errors.count, "error") %> occured.</p>
    <% @user.errors.full_messages.each do |msg| %>
        <%= msg %></p>
    <% end %>
<% end %>
<%= form_for(@user) do |f| %>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name %></p>

    <p><%=  f.label :email %></p>
    <p><%=  f.text_field :email %></p>

    <p><%= f.label :password %></p>
    <p><%= f.password_field :password %></p>

    <p><%= f.label :password_confirmation, 'Confirm password' %></p>
    <p><%= f.password_field :password_confirmation %></p>

    <p><%= f.submit 'Save' %></p>

<% end %>



<%= link_to 'Back', users_path %>
