<h1>Listing users</h1>

<%= will_paginate %>
<ul class="users">
    <% @users.each do |user| %>
        <li>
          <%= link_to user.name, user %>
          <% if current_user.admin? && !current_user?(user) %>
            <small>
              <i>
                <%= link_to 'delete', user, method: 'delete', data: { confirm: 'You sure???' } %>
              </i>
            </small>
          <% end %>
        </li>
    <% end %>
</ul>
<%= will_paginate %>
