<div class="col-xs-5">
  <%= form_for(@user) do |f| %>
    <legend>Регистрация</legend>

    <% if @user.errors.any? %>
      <div id="error_explanation" class="form-group">
        <h2><%= pluralize(@user.errors.count, "error") %> occured:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <%= f.submit 'Создать профиль', class: 'btn btn-primary btn-block' %>
  <% end %>
</div>