<%= notice %>
<p><b><%= @user.name%></b> <small><i>registered at <%= @user.created_at%> on <b><%= @user.email%></b></i></small></p>
<%= link_to 'Edit profile', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<% if @user.posts.any? %>
    <hr>
    <%= render @posts %>
    <%= will_paginate @posts%>
<% end %>
