<div class="col-xs-9">
    <%= form_for(@post) do |f| %>
      <legend><%= @legend %> </legend>
      <% if @post.errors.any? %>
        <div id="error_explanation" class="form-group">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        All categories:
        <ul id="tree">
          <li>
            <label>
              <input type="radio" <% if @post.category_id == 1 %> checked <% end %> name="categories" value="Games">Games
            </label>
            <ul>
              <li>
                <label>
                  <input type="radio" <% if @post.category_id ==4 %>checked <% end %> name="categories" value="RPG">RPG
                </label>
              </li>
              <li>
                <label>
                  <input type="radio" <% if @post.category_id == 5 %>checked <% end %> name="categories" value="FPS">FPS
                </label>
              </li>
              <li>
                <label>
                  <input type="radio" <% if @post.category_id ==6 %>checked <% end %> name="categories" value="MOBA">MOBA
                </label>
                <ul>
                  <li>
                    <label>
                      <input type="radio" <% if @post.category_id ==7 %>checked <% end %> name="categories" value="DotA2">DotA2
                    </label>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <label>
              <input type="radio" <% if @post.category_id ==2 %>checked <% end %> name="categories" value="Movies">Movies
            </label>
          </li>
          <li>
            <label>
              <input type="radio" <% if @post.category_id ==3 %>checked <% end %> name="categories" value="Others">Others
            </label>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="form-group col-xs-4">
            <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
        </div>

        <div class="form-group col-xs-8 pull-right">
            <%= text_field_tag 'post[text]', '', {placeholder: 'Tags comma separated', class: 'form-control', value: @post.tags.map{|tag| tag.text}.join(', ')}  %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12">
            <%= f.text_area :content, placeholder: 'Compose new post...', class: 'form-control', rows: '10' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit 'Submit post', class: 'btn btn-primary' %>
      </div>

    <% end %>
</div>
