<div class="lead">
  <%= link_to post, class: 'lead' do %>
    <% if @keyword %>
        <%= highlight(post.title, @keyword.split) %>
    <% else %>
          <%= post.title %>
    <% end %>
  <% end %>
</div>

<div>
  <i class="glyphicon glyphicon-comment"></i> <%= post.comments.count %> |
  <i class="glyphicon glyphicon-time"></i> <%= post.created_at.to_s(:ru_datetime) %> by
  <%= link_to post.user.name, users_path(post.user)%>
  <% if current_user?(post.user) %>
    <%= link_to post, method: :delete, data: { confirm: 'You sure?'}, class: 'btn btn-xs btn-hover btn-default' do %>
      Delete
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
  <% end %>
  <div class="pull-right">
    <span class="label label-success"><% if post.category %><%= post.category.name %><% end %></span>
    <% post.tags.each do |t| %>
      <span class="label label-info"><%= t.text %></span>
    <% end %>
  </div>
</div>
<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#empty<%= post.id %>" data-toggle="tab">Hide post</a></li>
    <li class=""><a href="#post<%= post.id %>" data-toggle="tab">Show post</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="empty<%= post.id %>">
  </div>
  <div class="tab-pane fade" id="post<%= post.id %>">
    <div class="well">
      <% if @keyword %>
        <%= highlight(post.content, @keyword.split) %>
      <% else %>
        <%= post.content %>
      <% end %>
    </div>
  </div>
</div>
<hr>
