<h1>Listing posts</h1>
<%= notice %>
<hr>
<div class="col-xs-9">
<% if @posts.any? %>
	<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
    <%= render @posts %>
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
<% end %>
</div>

