<p id="notice"><%= notice %></p>

<p>
  <span class="lead"><%= @post.title %></span>
</p>
<p>
  <span class="label label-success"><% if @post.category %><%= @post.category.name %><% end %></span>
  <% @post.tags.each do |t| %>
    <span class="label label-info"><%= t.text %></span>
  <% end %>
</p>
<div class="row">
  <div class="col-xs-10 well">
    <%= @post.content %>
  </div>
</div>
<i class="glyphicon glyphicon-comment"></i> <%= @post.comments.count %> |
<i class="glyphicon glyphicon-time"></i><small> <%= @post.created_at.to_s(:ru_datetime) %> by </small> <%= @post.user.name %>
<% if current_user && current_user.admin? %>
    <%= link_to edit_post_path(@post), class: 'btn btn-xs btn-hover btn-default' do %>
      Edit
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
    <%= link_to @post, method: :delete, data: { confirm: 'You sure?'}, class: 'btn btn-xs btn-hover btn-default' do %>
      Delete
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
<% end %>
<hr>
<div class="row">
  <div class="col-xs-5">
    <%= render 'comments/form' %>
  </div>
</div>
<hr>

<% if @comments.any? %>
    <p class="lead">Comments: </p>
<% end %>

<% @comments.each do |comment| %>
    <% if comment.accepted? %>
        <p>
          <b>
            <%= comment.user_name %>
          </b>
          <i class="glyphicon glyphicon-time"></i><small> <%= time_ago_in_words(comment.created_at)%> ago</small>
        </p>
        <p><%= comment.content %></p>
        <% if current_user && current_user.admin? %>
          <small>
            <%= link_to post_comments_path(comment.post, comment), method: :delete, data: { confirm: 'You sure?'}, class: 'btn btn-xs btn-hover btn-default' do %>
              Delete
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </small>
        <% end %>
        <hr>
    <% elsif signed_in? && current_user.admin? %>
        <p>By <b><%= comment.user_name %></b> <small><i><%= time_ago_in_words(comment.created_at)%> ago</i></small></p>
        <p><%= comment.content %></p>
        <small>
          <%= link_to post_comments_path(comment.post, comment), method: :delete, data: { confirm: 'You sure?'}, class: 'btn btn-xs btn-hover btn-default' do %>
              Delete
              <span class="glyphicon glyphicon-remove"></span>
          <% end %>
          <%= link_to post_comments_path(comment.post, comment), method: :put, class: 'btn btn-xs btn-hover btn-default' do %>
              Accept
              <span class="glyphicon glyphicon-ok"></span>
            <% end %>
        </small>
        <hr>
    <% end %>
<% end %>
