<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Simple blog', root_path, class: 'navbar-brand'%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li> <%= link_to 'My profile', current_user %></li>
                <% if current_user.admin? %>
                    <li><%= link_to 'New post', new_post_path %></li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to 'Logout', logout_path, method: 'delete' %></li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to 'Login', login_path%></li>
            <li><%= link_to 'Signup', signup_path%></li>
        <% end %>
        <li class="navbar-right"><%= link_to 'Filter posts', '/filter' %></li>
      </ul>
      <!--<%= form_tag('/posts/filter', class: 'navbar-form navbar-right', method: 'post', role: 'search', authenticity_token: true) do %>
          <div class="form-group">
            <%= text_field '', '', name: 'keyword', class: 'form-control', placeholder: 'keyword' %>
          </div>
          <%= submit_tag 'Filter', class: 'btn btn-default' %>
      <% end %>-->

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>