<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="container">
    <%= render 'layouts/navbar' %>
</header>
<div class="container">
  <%= yield %>
</div>
<div class="container">
  <footer>
    <%= debug(params) if Rails.env.development? %>
  </footer>
</div>
</body>
</html>
